

header {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 7rem;
}

nav {
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    background-color: white;
    font-family: "Yanone Kaffeesatz", sans-serif;
}

#logo {
    width: 90px;
    height: 90px;
}

li {
    text-transform: uppercase;
    font-size: 17px;
    color: black;
    letter-spacing: 3px;
    list-style: none;
    padding: 0px 9px;
    border-bottom: 2px solid transparent;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.links {
    padding-left: 25rem;
}